:root {

    --md-bg: #debe34;
    --md-fg: #FFFFFF;
    --md-font: Helvetica, Arial, sans-serif;
    --md-hfont: Helvetica, Arial, sans-serif;
    --md-listfont: Helvetica, Arial, sans-serif;
    --md-code: #979797;
    --md-h1: #762678;
    --md-mark: #979797;
    --md-highlight: #762678;

}


html,
body {
    background-color: #debe34;
    color: #ffffff;
}