    body, html {

        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        overscroll-behavior: none;
        transition: all 0.4s ease-in-out;

      }

      #elementoDocs {

        font-family: monospace;
        font-size: 14px;
        line-height: 18px;
        display:block;
        margin: 0;
        padding: 0;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
        position: fixed;
        width: 380px;
        height: calc(100% - 20px);
        top: 0;
        left: 0;
            overflow-x: hidden;
        overflow-y: auto;
        transition: all 0.4s ease-in-out;
        z-index: 5;


        }

        #conteudoDocs {

        display:block;
        margin: 0;
        padding: 0;
        padding-right: 20px;
        padding-left: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
        position: fixed;
        width: calc(100% - 430px);
        left: 400px;
        height: calc(100% - 20px);
        overflow-y: auto;
        transition: all 0.4s ease-in-out;

        }

      input {

        font-size: 16px;
        line-height: 22px;
        height: 28px;
        padding-top: 3px;
        padding-bottom: 3px;
        padding-left: 10px;
        padding-right: 10px;
        border: 0;
        border-bottom-width: 1px;
        border-bottom-style: solid;
        transition: all 0.4s ease-in-out;
        width: calc(100% - 20px);
        clear: both;
        outline-width: 0;
        margin-bottom: 20px;



      }

      input:focus {

        transition: all 0.4s ease-in-out;
        outline-width: 0;
        border-bottom: transparent 1px solid;

      }

      #iconmenumobile {

        position: fixed;
        z-index: 10;
        left: 5px;
        top: 5px;
        padding: 5px;
        width: 30px;
        height: calc(100% - 10px);
        display: none;
        transition: all 0.4s ease-in-out;

      }

      #iconmenumobile:hover {
        transition: all 0.4s ease-in-out;

      }

      @media (max-width: 750px) {

        #iconmenumobile {
          display: block;
          transition: all 0.4s ease-in-out;

        }

        #elementoDocs { 

          width: 0;
          transition: all 0.4s ease-in-out;
          left: -20px;
          z-index: 20;

         }

         #conteudoDocs {

          left: 0;
          width: calc(100% - 70px);
          padding-left: 50px;

         }

      }