:root {

    --text-color: #777777;
    --highlight-color: #F29610;
    --invert-color: white;
    --darker-color: #FA8400;
    --other-color: #6d6d6d;
    --neutral-color: #cccccc;
    --darker-neutral: grey;
}