
    @import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');

    body {
      font-family: 'Open Sans', sans-serif;
      font-weight: 300;
      background-color: transparent;
      font-size: 15px;
      line-height: 19px;
      text-align: justify;
      -webkit-overflow-scrolling:touch;
      overflow-y:scroll;
      
    }

    #container, #works, #planodeaula, #columnleft {

          -webkit-transition: all .4s ease-in-out;
          -moz-transition: all .4s ease-in-out;
          -o-transition: all .4s ease-in-out;

    }

    #columnright {

          -webkit-transition: width .4s ease-in-out;
          -moz-transition: width .4s ease-in-out;
          -o-transition: width .4s ease-in-out;

    }

    ul {
      list-style-type: none;
      list-style: none;
    }
    
    ::-webkit-scrollbar { 
      display: none; 
    }
    
    #container {
      max-width: 960px;
      min-width: 420px;
      width: 100%;
      margin-left: auto;
      margin-right: auto;
    }

    #wrap {
      width: 100%;
    }

    .halfblock {
      width: calc(50% - 15px);
      float: left;
      display: inline-block;
    }

    nav {
      position: fixed;
      height: 320px;
      top: calc(50% - 240px);
      width: 11%;
      left: calc(39% - 500px);
      display: none;
      text-align: right;
 
    }
    
    nav a {
      
      font-size: 11px;
      line-height: 30px;
      margin-bottom: 22px;
      margin-top: 5px;
      padding-left: 17px;
      padding-right: 15px;
      padding-top: 10px;
      padding-bottom: 10px;
      text-align: right;
      border-right-color: transparent;
      border-right-style: solid;
      border-right-width: 3px;
      
      text-decoration: none;
      /* border-radius: 3px; */
      border-radius: 0;
      
      transition: all 0.2s ease-in-out;
      -webkit-transition: all 0.2s ease-in-out;
      
      
    }
    
    nav a:hover {
      
      transition: all 0.2s ease-in-out;
      -webkit-transition: all 0.2s ease-in-out;
      
    }
    
    #botaosair {
      
      width: 48px; 
      height: 48px;
      position: fixed; 
      right: 20px; 
      top: 75px; 
      z-index: 4000;
      display: none;
      
    }
    
    #botaosair:hover {
      

    }

    .iconesairzoomdocs {

      width: 48px;
      position: fixed; 
      right: 20px;
      top: 75px;
      background-color: transparent;

    }

    #fechaabawork {
      width: 48px;
      height: 45px;
      position: fixed; 
      left: 20px;
      top: 20px;
      z-index:999999;
      display:none;

    }

    #fechaabawork:hover {
      
    }
    
    
    #columnleft {
      width: calc(100% - 330px);
      float: left;
    }

    #columnright {
      position: fixed;
      height: 100%;
      width: 315px;
      right: 0;
    }

    h1 {
      font-size: 42px;
      line-height: 48px;
      font-weight: 700;
    }

    h2, h3 {
      font-weight: 700;
      font-size: 15px;
      line-height: 19px;
      margin-bottom: 0;
      padding-bottom: 0;
    }

    h2, h1 {

    }
    
    h2 {
      margin-top: 30px;
      
    }

    h3 {

    }

    h4 {
      font-size: 11px;
      line-height: 14px;
      margin-bottom: 0;
      margin-top: 0;
      font-weight: 700;
    }

    h5 {
      font-size: 11px;
      line-height: 14px;
      margin-bottom: 0;
      margin-top: 0;
      font-weight: 300;
  
    }

    h6 {
        padding: 0 0 0 0;
        margin: 0 0 0 0;
        font-size: 12px;
        line-height: 16px;
        font-weight: lighter;
        padding-top: 3px;
        margin-bottom: 30px;

      }
    
    .links {
      border-bottom-style: dotted;
      border-bottom-width: 1px;
      text-decoration: none;
      color: gray;
      padding-left: 7px;
      padding-right: 7px;
      padding-top: 5px;
      padding-bottom: 2px;
      margin-left: -7px;
      margin-right: -7px;
      margin-top: -5px;
      margin-bottom: -2px;
      
      transition: all 0.2s ease-in-out;
      -webkit-transition: all 0.2s ease-in-out;
      
    }
    
    .links:hover {
      
      border-bottom-style: solid;
      border-bottom-width: 0;
 
      padding-left: 7px;
      padding-right: 7px;
      padding-top: 5px;
      padding-bottom: 5px;
      margin-left: -7px;
      margin-right: -7px;
      margin-top: -5px;
      margin-bottom: -5px;
      color: white;
      text-decoration: none;
      border-radius: 3px;
      
      transition: all 0.2s ease-in-out;
      -webkit-transition: all 0.2s ease-in-out;
   
      
    }

    .linkdelicado {
      
      border-bottom-style: dotted;
      border-bottom-width: 1px;
      text-decoration: none;
      color: gray;
      padding-left: 7px;
      padding-right: 7px;
      padding-top: 5px;
      padding-bottom: 2px;
      margin-left: -7px;
      margin-right: -7px;
      margin-top: -5px;
      margin-bottom: -2px;
      
      transition: all 0.2s ease-in-out;
      -webkit-transition: all 0.2s ease-in-out;
  
  
    }

    .linkdelicado:hover {
      
      border-bottom-style: solid;
      border-bottom-width: 2px;
      padding-bottom: 1px;
       
      transition: all 0.2s ease-in-out;
      -webkit-transition: all 0.2s ease-in-out;
    
    }

    .listalinha {

      margin-bottom: 7px;

    }

    .listatitulo {
      
      border-bottom-style: dotted;
      border-bottom-width: 1px;
      text-decoration: none;
      color: gray;
      padding-left: 7px;
      padding-right: 7px;
      padding-top: 5px;
      padding-bottom: 2px;
      margin-left: -7px;
      margin-right: -7px;
      margin-top: -5px;
      margin-bottom: -2px;
      
      transition: all 0.2s ease-in-out;
      -webkit-transition: all 0.2s ease-in-out;
  
  
    }

    .listatitulo:hover {
      
      border-bottom-style: solid;
      border-bottom-width: 2px;
      padding-bottom: 1px;
       
      transition: all 0.2s ease-in-out;
      -webkit-transition: all 0.2s ease-in-out;
    
    }
    
    p,
    ol,
    li {
      margin-top: 0;
      padding-top: 0;
    }
    
    li {
      margin-bottom: 5px;
      text-align: left;
    }
    
    ol {
      margin-left: 20px;
    }
    
    .sublinhado {
            
      padding-left: 7px;
      padding-right: 7px;
      
      
    }
    
    .listatitulopublico {
      
      font-size: 13px;
      /* line-height: 15px; */
      margin-bottom: 4px;
      
    }

    table.timeline {
      margin-top: 20px;

    }

    .timeline {
      border: 0 solid black;
      vertical-align: top;

    }

    .timeline tr {
      border: 0 solid black;
      vertical-align: top;


    }

    .timeline tr td {
      border: 0 solid black;
      vertical-align: top;

    }

    .tempo {
      font-weight: 700;
      font-size: 15px;
      line-height: 19px;
      background-image: url('https://www.ranoya.com/Assets/Diagramas/timelinebackground.png');
      background-repeat: no-repeat;
      background-position: 0 26px;
      padding-bottom: 35px;

    }
    
    table {
      width: 100%;
      padding: 0 0 0 0;
      margin: 0 0 0 0;
      border-collapse: collapse;
      font-size: 15px;
      line-height: 19px;
    }
    
    tr {
      
      padding: 0;
      margin: 0;
      
    }
    
    td {
      
      border-style: solid;
      border-width: 1px;

      padding-top: 0;
      padding-left: 5px;
      padding-top: 0;
      padding-right: 5px;
      
      margin-left: 0;
      margin-top: 0;
      margin-right: 0;
      margin-bottom: 0;
      
    }

    .grafico td {

      height: 50px;

    }
    
    .subfasehelp {
      font-size: 12px;
      line-height: 15px;
      text-align: left;
      width: 20%;
      
    }
    
    .subfase {
      text-align: left;
      
    }
    
    #mobileaulas { 
      display: none;
    }

    .alunonome {

      float: left;

    }

    .alunonota {

      float: right;
      padding: 5px 7px 5px 7px;
      border-style: solid;
      border-width: 1px;
      border-radius: 3px;
      margin-left: 20px;

    }

    .alunofeedback {

      clear:left;

    }

    #atv1, #atv2, #atv3, #atv4 {

      display: none;

    }

    .QRCODE {
      width: 18%;
      min-width: 140px;
      float: right;
      margin-left: 15px;
      margin-bottom: 15px;

    }

    .miniblock {
      margin-left: 10px;
      padding-top: 2px;
    }

    .miniicon {
      text-align: center;
    }

    .atvblock {
    }

  
    @media only screen and (max-width: 854px) {
      
      #columnright {
      width: 315px;
        display: none;

    }
      
      #columnleft {
        width: 100%;
      }
      
      #container {
        
        width: 85%;
        min-width: 320px;
        
      }
      
     .subfasehelp {
      font-size: 1.15vw;
      line-height: 1.3vw;
      
    }
    
    table {
      font-size: 1.55vw;
      line-height: 1.7vw;
      
    }
      
      #mobileaulas { 
      display: block;
      
      }

    ul {
      list-style-type: none;
      list-style: none;
    }
  
    .timeline {
      border: 0 solid black;
      vertical-align: top;

    }

    .timeline tr {
      border: 0 solid black;
      vertical-align: top;


    }

    .timeline tr td {
      border: 0 solid black;
      vertical-align: top;
      font-size: 11px;
      line-height: 14px;

    }

    .tempo {
      font-weight: 700;
      font-size: 15px;
      line-height: 19px;
      background-image: url('https://www.ranoya.com/Assets/Diagramas/timelinebackground.png');
      background-repeat: no-repeat;
      background-position: 0 26px;
      padding-bottom: 35px;

    }  
      
    }
    
    @media only screen and (min-width: 1248px) {
     
      nav {
        display: initial;
      }
      
      
    }

    @media only screen and (max-width: 600px) {

    ul {
      list-style-type: none;
      list-style: none;
      }

    .timeline {
      border: 0 solid black;
      vertical-align: top;

    }

    .timeline tr {
      border: 0 solid black;
      vertical-align: top;


    }

    .timeline tr td {
      border: 0 solid black;
      vertical-align: top;
      font-size: 11px;
      line-height: 14px;

    }

    .tempo {
      font-weight: 700;
      font-size: 15px;
      line-height: 19px;
      background-image: url('https://www.ranoya.com/Assets/Diagramas/timelinebackground.png');
      background-repeat: no-repeat;
      background-position: 0 26px;
      padding-bottom: 35px;

    }

    .grafico td {

      height: 60px;
      font-weight: bold;
      font-size: 9px;
      
    }

    .datalegenda td {


      font-weight: bold;
      font-size: 9px;
      line-height: 16px;


    }

    .halfblock {
      width: 100%;
      clear: both;
    }


    .iconesairzoomdocs {

      width: 30px;
      right: 30px;
      top: 60px;

    }

    #botaosair {
      
      width: 30px; 
      height: 30px;
      right: 30px; 
      top: 60px; 
      
    }

    }

