/* tipografia -------------------------------------------------------- */

/* cssreset.com ------------------------------------------------------ */
* {}

/* base -------------------------------------------------------------- */
.logocolor {

  fill: #a59b04;

}

body {
  background-color: white;
  color: #958B57;
}

nav {
  background-color: white;
}

#tintcolor {
  background-color: white;
  opacity: .9;
}

#mobile {}

#navblock {}

.listalinha {

  padding-bottom: 20px;

}

a {
  color: #a59b04;
}

a:hover {
  background-color: #a59b04;
  color: white;
}

.filtroativo {
  background-color: #642784;
  color: white;

}

.filtroinativo {
  background-color: transparent;
  color: white;
}

#navblock a {
  color: #a59b04;
}

#navblock a:hover {
  background-color: #a59b04;
  color: white;
}

.marcacao {
  background-color: transparent;
}

.marcacao:hover {
  background-color: transparent;
}

/* estrutura --------------------------------------------------------- */

#heading {
  background-color: transparent;
  color: #cf3a32;
}

.secao {
  background-color: transparent;
}

.bloco-conteudo {}

#rodape {
  background-color: transparent;
  color: #a59b04;

}

#rodape .bloco-conteudo {
  background-color: transparent;
  color: #a59b04;

}

#rodape .bloco-conteudo svg {
  fill: #a59b04;
}

#rodape .bloco-conteudo h6 {
  color: #a59b04;

}

#ranoyalogo {}

#carregando {}

.loadingimage {}

.videogrid {}

#sumario {}

.sumariolink {
  background-color: #bfbfbf;
  color: white;

}

.sumariolink:hover {
  background-color: #f44292;

}

.halfblock {}


/* tipografia --------------------------------------------------------- */

h1 {}

h6 {}

.separador {}

.littlegap {}

.doublegap {}

.triplegap {}

.listalinha {}

.mytags {}

/* elementos ---------------------------------------------------------- */

#gototop {
  background-color: #958B57;


}

#gototop:hover {
  background-color: #642784;

}

#gotobottom {
  background-color: #958B57;

}

#gotobottom:hover {
  background-color: #642784;

}

#foot-portfolio {}

#foot-portfolio:hover {}

#foot-linkedin {}

#foot-linkedin:hover {}

#foot-facebook {}

#foot-facebook:hover {}

#foot-github {}

#foot-github:hover {}

#foot-twitter {}

#foot-twitter:hover {}

#foot-googleplus {}

#foot-googleplus:hover {}

.buttom-agenda {}

.buttom-agenda:hover {}

#botaosair {}

#botaosair:hover {}